

.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
a {
  color: white;
}

h1 {
  font-family: 'Lora';
  color: #5A4031;
  font-weight: lighter;
  position: absolute;
  width: 300px;
  height: 50px;
  left: 33px;
  top: 113px;
  padding-top: 20px;

  font-size: 21px;
  line-height: 27px;

  color: #5A4031;
}

.bodyStart {
  font-family: 'Proxima Nova';
  color: #5A4031;
  padding-top: 120px;
  padding-left: 15px;
}

.bodyStyle {
  width: 352px;
  left: 50px;
  height: 18px;
  top: 289px;
  padding-bottom: 30px;
  padding-top: 10px;
  line-height: 18px;
  font-size: 14px;

}

.homeImage {
  background-image: url("./graphics/home1.png");
  padding-top: 75px;
  width: 348px;

}
.homeImage1 {
  background-image: url("./graphics/home2.png");
  padding-top: 75px;
  width: 348px;

}
.homeImage2 {
  background-image: url("./graphics/home2.png");
  padding-top: 75px;
  width: 348px;

}

img {
  padding-left: 50px;

}

.leftUpAdjust {
  z-index: 100;
  padding-top: 44px;
  padding-left: 15px;
}

.pos1{
  position: absolute;
  width: 57px;
  height: 23px;
  left: 96px;
  top: 676px;
}

.negBot {
  padding-bottom: -300px;

}
button1 {
  position: absolute;
  width: 57px;
  height: 23px;
  left: 96px;
  top: 676px;

  font-family: Proxima Nova;
  font-style: normal;
  font-weight: normal;
  font-size: 19.2857px;
  line-height: 23px;

  color: #FFFFFF;

}

button2 {
  position: absolute;
  width: 59px;
  height: 23px;
  left: 192px;
  top: 676px;

  font-family: Proxima Nova;
  font-style: normal;
  font-weight: normal;
  font-size: 19.2857px;
  line-height: 23px;

  color: #FFFFFF;
}

button3 {
  position: absolute;
  width: 63px;
  height: 23px;
  left: 291px;
  top: 676px;

  background: #AEBF99;


  font-family: Proxima Nova;
  font-style: normal;
  font-weight: normal;
  font-size: 19.2857px;
  line-height: 23px;

  color: #FFFFFF;
}

.bottomBar {
  position: absolute;
  width: 344px;
  height: 40px;
  left: 25px;
  top: 667px;

  background: #AEBF99;
  border-radius: 20px;
  z-index: -1;
}

/*.button1 {*/
/*  font-family: 'Proxima Nova';*/
/*  border: 0;*/
/*  border-radius: 30px;*/
/*  background: #AEBF99;*/
/*  color: #FFFFFF;*/

/*  box:150px;*/
/*  bottom: 60px;*/

/*  line-height: 1.2;*/
/*  white-space: nowrap;*/
/*  text-decoration: none;*/
/*  margin: 0.25rem;*/
/*  cursor: pointer;*/

/*  padding-left: 35px;*/

/*  font-size: 19.2857px;*/

/*}*/

container1{
  position: absolute;
  width: 348px;
  height: 100px;
  left: 33px;
  top: 340px;

  background-image: url("./graphics/home1.png");
  align-content: center;
}

containerHome {
  position: absolute;
  width: 344px;
  height: 40px;
  left: 35px;
  top: 667px;

  background: #AEBF99;
  border-radius: 20px;
}

.color {
  color: #FFFFFF !important;
}

.color:hover, .color:active {
  color: #5A4031 !important;
}



.App-link {
  color: #5A4031;
}

.full-background {
  height: 730px;
}